<div class="courses">
	<h1>Classes</h1>
	<% if @courses.present? %>
		<% render @courses %>
	<% else %>
    <p>Sorry! No Classes </p>
	<% end %>

  <p class="actions">
    <%= link_to 'Add New Class', new_course_path, class: 'btn btn-primary' %>
  </p>
</div>